.header-menu {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: aliceblue;
    justify-items: center;
}

.logo{
    width: 6%;
    display: flex;
    align-items: center;
}

